.first {
    background: url('../img/bg-1.png') center center no-repeat;
    background-size: cover;
    flex-direction: column;
}

.header {        
    background-color: #2B2A28;
}

.header__content {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.logo {
    margin: 30px;
}

.description {
    color: #ffffff;
}

.header__btns {
    display: flex;
    align-items: center;
}

.socials__list {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #ffffff
}

.welcome__intro {
    margin: 40px;
}

.welcome__order {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}