.form {
    width: 270px;
    height: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 30px;
    text-align: center;
}

.form__block {
    margin: 10px 15px;
}

.form__input {
    padding: 1rem;
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10rem;
    border: 1px solid grey;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 1rem;
  }
::-moz-placeholder { /* Firefox 19+ */
    padding-left: 1rem;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}