.parts {
    background: url('../img/bg-3.jpg') center center no-repeat;
    background-size: cover;
}

.parts__content {
    display: flex;
    height: 700px;;
    margin: 40px 0px;
}

.parts__binocular {
    width: 100%;
    position: relative;
}

.parts__warranty {
    position: absolute;
    left: 2%;
    top: 17%;
    z-index: 1;
}

.parts__zoom {
    position: absolute;
    left:3%;
    top: 20%;
    padding: 5px;
    border: 2px dotted black;
    border-radius: 50%;
}

.parts__stand {
    position: absolute;
    left: 21%;
    top: 10px;
    z-index: 1;
}

.parts__numbers {
    position: absolute;
    height: 610px;
}

.numbers__item {
    display: block;
    position: absolute;
    border-top: 2px dotted black;
}

.numbers__list {
    display: inline-block;
    position: relative;
    height: 580px;
    width: 590px;
    z-index: 3;
}

.numbers__item:nth-child(1) {
    top: 3%;
    left: 12%;
    width: 250px;
    height: 100px;
}

.numbers__item:nth-child(1)::before {
    display: inline-block;
    position: absolute;
    left: -15%;
    top: -20%;
    content: "3";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(2) {
    top: 11%;
    left: 67%;
    width: 87px;
    height: 100px;
}

.numbers__item:nth-child(2)::after {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: -20%;
    content: "1";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(3) {
    top: 18%;
    left: 37%;
    width: 140px;
    height: 100px;
}

.numbers__item:nth-child(3)::before {
    display: inline-block;
    position: absolute;
    left: -29%;
    top: -20%;
    content: "2";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(4) {
    top: 24%;
    left: 61%;
    width: 85px;
    height: 100px;
}

.numbers__item:nth-child(4)::after {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: -20%;
    content: "4";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(5) {
    top: 51%;
    left: 49%;
    width: 102px;
    height: 100px;
}

.numbers__item:nth-child(5)::before {
    display: inline-block;
    position: absolute;
    left: -42%;
    top: -23%;
    content: "5";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(6) {
    top: 53%;
    left: 67%;
    width: 92px;
    height: 100px;
}

.numbers__item:nth-child(6)::after {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: -20%;
    content: "6";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(7) {
    top: 74%;
    left: 69%;
    width: 85px;
    height: 100px;
}

.numbers__item:nth-child(7)::after {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: -20%;
    content: "7";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(8) {
    top: 83%;
    left: 64%;
    width: 114px;
    height: 100px;
}

.numbers__item:nth-child(8)::after {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: -20%;
    content: "8";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(9) {
    top: 88%;
    left: 28%;
    width: 97px;
    height: 100px;
}

.numbers__item:nth-child(9)::before {
    display: inline-block;
    position: absolute;
    left: -46%;
    top: -23%;
    content: "9";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.numbers__item:nth-child(10) {
    top: 42%;
    left: 31%;
    width: 62px;
    height: 100px;
}

.numbers__item:nth-child(10)::after {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: -20%;
    content: "10";
    font-size: 25px;
    padding: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}

.parts__desc {
    position: absolute;
    right: 5%;
    max-width: 450px;
}

.parts__header {
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
    text-align: start;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.parts__explication {
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 25px;
    text-align: start;

}

.parts__list {
    padding-left: 0px;
    list-style: none;
    counter-reset: counter;
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 25px;
    text-align: start;
}

.parts__item {
    counter-increment: my_counter;
    margin: 10px 0px;
}

.parts__item::before {
    display: inline-block;
    content: counter(my_counter);
    padding: 3px;
    margin: 0px 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #000;
}
