.revenue {
    background: url('../img/bg-welcome.jpg') center center no-repeat;
    background-size: cover;
}

.welcome__intro {
    margin: 40px;
    text-align: center;
}

.welcome__howto {
    font-size: 20px;
}

.welcome__order {
    display: flex;
    align-items: center;
    justify-content: space-around;
}