.revenue {
    background: url('../img/bg-1.jpg') center center no-repeat;
    background-size: cover;
}

.welcome__intro {
    margin: 40px;
}

.welcome__order {
    display: flex;
    // // flex: 1;
    // align-items: center;
    // justify-content: center;
}