.section { 
    height: if($onePage, 100%, 100vh); 
    min-height: 650px; 
    position: relative; 
    display: flex; 
    overflow: hidden; 
    
    @include tablets { 
    min-height: initial; 
    // height: 100vh; 
    } 
    }