
.socials {
    margin: 0 0 0 70px;
}

.socials__list {
    display: flex;
    align-items: center;
}

.socials__item {
    margin: 10px;
    background-color: #2E3E8C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.socials__link {
    display: block;
    margin-left: 5px;
    margin-top: 5px;
}

.vk {
    fill: #ffffff;
}

.fb {
    fill: #ffffff;
}

.instagram {
    fill: #ffffff;
}