// setups
$onePage: true;

// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$blue: #3b3ee4;

@import "misc/normalize.scss";
@import "misc/fonts.scss";
@import "misc/mixins.scss";
@import "misc/layout.scss";
@import "blocks/*.scss";